/cache
/cmp1_usr515.csv
/complete_20260101
/complete_20260105
/gwacheon_test_db_csv
/id
/id_7.csv
/id_7_anomaly_seq.csv
/Interface_module
/legacy
/LOF_devid_7_lof_scored.csv
/new_csv
/origin_csv
/output2
/output_osmnx_dual_enhanced
/output_region
/Prepare_exe
/random_sample_layer_fix.csv
/result_new
/result_origin
/test_code 모음